@import url('https://fonts.googleapis.com/css2?family=Abel&family=IBM+Plex+Mono:wght@100&family=Inter:wght@200;300&family=Silkscreen&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 68, 68) !important;
}

/*NAVBAR*/
.navbar {
    height: 15vh;
    background-color: rgba(116, 116, 116, 0.1) !important;
}

.nav-link {
    color: #ffffff !important;
    font-family: Abel;
    font-size: 1.5em !important;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.nav-link:hover {
    color: #f0b201 !important;
}